<md-toolbar class="md-hue-3 md-whiteframe-z1">
  <div class="md-toolbar-tools">
    <h2><span>Development Tools</span></h2>
    <span flex></span>
    <md-button ng-if="!joined" class="md-raised md-accent" ng-click="join()">Join</md-button>
    <md-button ng-if="joined" class="md-raised md-hue-2" ng-click="leave()">Leave</md-button>
  </div>
  <div class="md-body-2 md-padding" ipsum="50w"></div>
  <md-card-actions layout="row" layout-align="space-around center" layout-margin class="tc-white md-caption">
    <span flex="none">
      <md-icon class="fill-white" md-svg-icon="social:people_outline" aria-label="icon"></md-icon>
      <span>23</span> <span hide-xs>Members</span>
    </span>
    <span flex="none">
      <md-icon class="fill-white" md-svg-icon="action:announcement" aria-label="icon"></md-icon>
      <span>8</span> <span hide-xs>Announcements</span>
    </span>
    <span flex="none">
      <md-icon class="fill-white" md-svg-icon="communication:chat" aria-label="icon"></md-icon>
      <span>12</span> <span hide-xs>Discussions</span>
    </span>
    <span flex="none">
      <md-icon class="fill-white" md-svg-icon="action:today" aria-label="icon"></md-icon>
      <span hide-gt-xs>04/16/2016</span> <span hide-xs>Created April 16, 2016</span>
    </span>
    <span flex="grow" hide-xs></span>
  </md-card-actions>
</md-toolbar>
<md-button ng-if="joined" ui-sref="detail-form" class="md-fab md-fab-bottom-right md-fixed" aria-label="Add">
  <md-icon md-svg-icon="content:add" aria-label="Plus"></md-icon>
</md-button>
<div layout-gt-xs="column" layout-margin>
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <div class="md-headline">Announcements</div>
        <div class="md-subhead">8 group announcements</div>
      </md-card-header-text>
    </md-card-header>
    <md-divider></md-divider>
    <md-list>
      <md-list-item class="md-2-line">
        <md-icon class="" md-svg-icon="action:announcement"></md-icon>
        <div class="md-list-item-text">
          <h3>Group policy changes</h3>
          <p>Hey folks! Since last month some things have changed...</p>
        </div>
        <md-divider md-inset></md-divider>
      </md-list-item>
      <md-list-item class="md-2-line">
        <md-icon class="" md-svg-icon="action:announcement"></md-icon>
        <div class="md-list-item-text">
          <h3>Server updates tomorrow at 11:59 PM CST</h3>
          <p>Scheduled server maintenance tomorrow night...</p>
        </div>
        <md-divider md-inset></md-divider>
      </md-list-item>
      <md-list-item class="md-2-line">
        <md-icon class="" md-svg-icon="action:announcement"></md-icon>
        <div class="md-list-item-text">
          <h3>Server updates this Saturday at 8:59 PM CST</h3>
          <p>Scheduled server maintenance this weekend...</p>
        </div>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-card-actions layout="row" layout-align="start center">
      <md-button class="md-primary"><md-icon class="md-primary" md-svg-icon="navigation:arrow_forward"></md-icon> More</md-button>
    </md-card-actions>
  </md-card>
  <md-card class="md-list-card" ng-repeat="item in awesomeThings | filter:search" ng-click="showDetail($event)" md-ink-ripple="#651FFF">
    <md-list-item class="md-2-line">
        <md-icon class="md-avatar md-avatar-icon" md-svg-icon="avatar:svg-{{ ($index + 1) % 11 }}"></md-icon>
        <div class="md-list-item-text">
          <h3>{{item.name}}</h3>
          <p>{{item.who}} in <span>category name</span></p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-card-content>
      <p>{{item.info}}</p>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions layout="row" layout-align="space-around center" layout-margin>
      <span flex="none">
        <md-icon md-svg-icon="action:thumb_up" aria-label="Forward"></md-icon>
        <span>12</span> <span hide-xs>Likes</span>
      </span>
      <span flex="none">
        <md-icon md-svg-icon="communication:forum" aria-label="Forward"></md-icon>
        <span>4</span> <span hide-xs>Replies</span>
      </span>
      <span flex="none">
        <md-icon md-svg-icon="device:access_time" aria-label="Forward"></md-icon>
        <span>4</span> <span hide-gt-xs>hrs</span> <span hide-xs>hours ago</span>
      </span>
      <span flex="grow" hide-xs></span>
    </md-card-actions>
  </md-card>
</div>
