<div layout-gt-xs="column" layout-margin>
  <md-card ng-repeat="item in awesomeThings | filter:search">
    <md-list-item class="md-2-line" ng-click="showDetail($event)">
        <md-icon class="md-avatar md-avatar-icon" md-svg-icon="avatar:svg-{{ ($index + 1) % 11 }}"></md-icon>
        <div class="md-list-item-text">
          <h3>{{item.name}}</h3>
          <p>{{item.who}} in <span>category name</span></p>
        </div>
        <md-button aria-label="bookmark" class="md-secondary md-icon-button" ng-class="{'md-primary': item.bookmarked}" ng-click="bookmark()">
          <md-icon ng-if="item.bookmarked" md-svg-icon="action:bookmark" aria-label="Bookmark"></md-icon>
          <md-icon ng-if="!item.bookmarked" md-svg-icon="action:bookmark_border" aria-label="Bookmark"></md-icon>
        </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-card-content>
      <p>{{item.info}}</p>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions layout="row" layout-align="space-around center" layout-margin>
      <span flex="none">
        <md-icon md-svg-icon="action:thumb_up" aria-label="Forward"></md-icon>
        <span>12</span> <span hide-xs>Likes</span>
      </span>
      <span flex="none">
        <md-icon md-svg-icon="communication:forum" aria-label="Forward"></md-icon>
        <span>4</span> <span hide-xs>Replies</span>
      </span>
      <span flex="none">
        <md-icon md-svg-icon="device:access_time" aria-label="Forward"></md-icon>
        <span>4</span> <span hide-gt-xs>hrs</span> <span hide-xs>hours ago</span>
      </span>
      <span flex="grow" hide-xs></span>
    </md-card-actions>
  </md-card>
</div>
