<div layout-gt-xs="row" layout-margin>
  <div flex-gt-xs="35">
    <md-card>
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">Settings</span>
          <span class="md-subhead">for this app</span>
        </md-card-header-text>
      </md-card-header>
      <md-divider></md-divider>
      <md-list>
        <md-subheader class="md-no-sticky">Personal</md-subheader>
        <md-list-item href="#">
          Account Info
        </md-list-item>
        <md-list-item href="#">
          Customize
        </md-list-item>
        <md-subheader class="md-no-sticky">Teams</md-subheader>
        <md-list-item href="#">
          Permissions
        </md-list-item>
        <md-list-item href="#">
          Team Info
        </md-list-item>
        <md-subheader class="md-no-sticky">Admin</md-subheader>
        <md-list-item href="#">
          Notifications
        </md-list-item>
        <md-list-item href="#">
          Integrations
        </md-list-item>
        <md-list-item href="#">
          Billing
        </md-list-item>
      </md-list>
    </md-card>
  </div>
  <div flex-gt-xs="65">
    <md-card>
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">Setting Group</span>
          <span class="md-subhead">Setting description</span>
        </md-card-header-text>
      </md-card-header>
      <md-divider></md-divider>
      <md-list-item class="md-3-line">
        <md-switch ng-model="setting.one"></md-switch>
        <div class="md-list-item-text">
          <h3>Setting title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
        </div>
        <md-icon class="md-secondary" ng-click="config = !config" aria-label="icon" md-svg-icon="action:settings">
          <md-tooltip>Configure</md-tooltip>
        </md-icon>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line">
        <md-switch ng-model="setting.one"></md-switch>
        <div class="md-list-item-text">
          <h3>Setting title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
        </div>
        <md-icon class="md-secondary" ng-click="config = !config" aria-label="icon" md-svg-icon="action:settings">
          <md-tooltip>Configure</md-tooltip>
        </md-icon>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line">
        <md-switch ng-model="setting.one"></md-switch>
        <div class="md-list-item-text">
          <h3>Setting title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
        </div>
        <md-icon class="md-secondary" ng-click="config = !config" aria-label="icon" md-svg-icon="action:settings">
          <md-tooltip>Configure</md-tooltip>
        </md-icon>
      </md-list-item>
    </md-card>
    <md-card>
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">Setting Group</span>
          <span class="md-subhead">Setting description</span>
        </md-card-header-text>
      </md-card-header>
      <md-divider></md-divider>
      <md-list-item class="md-3-line">
        <md-switch ng-model="setting.one"></md-switch>
        <div class="md-list-item-text">
          <h3>Setting title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
        </div>
        <md-icon class="md-secondary" ng-click="config = !config" aria-label="icon" md-svg-icon="action:settings">
          <md-tooltip>Configure</md-tooltip>
        </md-icon>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line">
        <md-switch ng-model="setting.one"></md-switch>
        <div class="md-list-item-text">
          <h3>Setting title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
        </div>
        <md-icon class="md-secondary" ng-click="config = !config" aria-label="icon" md-svg-icon="action:settings">
          <md-tooltip>Configure</md-tooltip>
        </md-icon>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line">
        <md-switch ng-model="setting.one"></md-switch>
        <div class="md-list-item-text">
          <h3>Setting title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
        </div>
        <md-icon class="md-secondary" ng-click="config = !config" aria-label="icon" md-svg-icon="action:settings">
          <md-tooltip>Configure</md-tooltip>
        </md-icon>
      </md-list-item>
    </md-card>
  </div>
</div>
